#navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 17.5px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 65px;
    z-index: 1;
}

#navbar.other {
    border-color: transparent;
}

#navbar .logo {
    padding-left: 20px;
    width: 120px;
}

#navbar .nav-btns {
    display: flex;
    align-items: center;
    gap: 17.5px;
}

#navbar .nav-btns a,
#navbar .nav-btns button {
    padding: 17.5px 30px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
    transition: background-color 0.15s ease-in-out;
}

#navbar .nav-btns a {
    border: 1px solid #EAEAEA;
}

#navbar .nav-btns button {
    background-color: #1C1C1C;
    color: #FFFFFF;
}

#navbar .nav-btns a:hover {
    background-color: #F1F1F1;
}

#navbar .nav-btns button:hover {
    background-color: #454444;
}

#navbar .close-btn {
    width: 58px;
    height: 58px;
    display: grid;
    place-items: center;
    border: 1px solid #CACACA;
    border-radius: 50%;
    transition: background-color 0.15s ease-in-out;
}

#navbar .close-btn:hover {
    background-color: #F1F1F1;
}

#navbar .close-btn img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 600px) {
    #navbar {
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        padding: 15px;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: unset;
    }

    #navbar .logo {
        padding-left: 0;
        width: 50px;
    }

    #navbar .nav-btns {
        gap: 10px;
    }

    #navbar .nav-btns a,
    #navbar .nav-btns button {
        padding: 10px 15px;
        font-size: 15px;
    }

    #navbar .close-btn {
        width: 40px;
        height: 40px;
    }

    #navbar .close-btn img {
        width: 15px;
        height: 15px;
    }
}